<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20567910344-9ji4mb3opitjo8a9jt822jmsi057ui8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20567910344-9ji4mb3opitjo8a9jt822jmsi057ui8l</string>
	<key>API_KEY</key>
	<string>AIzaSyDLsOstDjtbjB5PcA8t67VvMIhesG5E1T4</string>
	<key>GCM_SENDER_ID</key>
	<string>20567910344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.debarshee.demo.ModularApp</string>
	<key>PROJECT_ID</key>
	<string>modularapp-8fcf8</string>
	<key>STORAGE_BUCKET</key>
	<string>modularapp-8fcf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20567910344:ios:f46f58c727c62b802cc2fd</string>
</dict>
</plist>